/sistema-seven/nbproject/private/
/sistema-seven/.metadata
/sistema-seven/.settings
/sistema-seven/.classpath
/sistema-seven/.project
/sistema-seven/target
.metadata
.settings
.classpath
.project
target
*.class
*.war
*.ear
*.log
*.tmp
*~
.DS_Store
/sistema-seven/build/
/sistema-seven/dist/